In [1]:
2+1

3

In [2]:
2**3 #comments
# thisis explanation

8

In [3]:
3/10

0.3

In [4]:
counter=100

In [5]:
mile=1000.0
name='john'

In [6]:
print(counter)

100

In [8]:
print(mile)

1000.0

In [9]:
a=b=c=1
print(a,b,c)

1 1 1

In [10]:
print(Counter)

NameError: name 'Counter' is not defined

In [11]:
print(counter)

100

In [13]:
a,b,c=1,2,"john"
print(a,b,c)

1 2 john

In [14]:
a+b

3

In [15]:
print(a+b)

3

In [17]:
print(a+10)
print(a/b)

11
0.5

In [18]:
c=a+b
print(c)

3

In [21]:
name='lucy'
print(True)
af=False
print(af)

True
False

In [23]:
str='Hello World !'
print(str)

Hello World !

str[1]

In [24]:
str[1]

'e'

In [28]:
print(str[2:5])

llo

In [29]:
print(str[2:])

llo World !

In [30]:
print(str[:5])

Hello

In [32]:
print(str*2)

Hello World !Hello World !

In [33]:
print(str+'Test')

Hello World !Test

In [34]:
print('test'+str)

testHello World !

In [35]:
print('test'+str+'hello')

testHello World !hello

In [37]:
a=1+3
print(a)

4

In [38]:
a=10
my_list=[a,'abcd',786,2.23,'john']
print(my_list)

[10, 'abcd', 786, 2.23, 'john']

In [39]:
tinylist=[123,'john']
tinylist*2

[123, 'john', 123, 'john']

In [41]:
print(my_list+tinylist)

[10, 'abcd', 786, 2.23, 'john', 123, 'john']

In [42]:
print(my_list[0])

10

In [43]:
print(my_list[1:3])

['abcd', 786]

In [44]:
print(my_list[2:])

[786, 2.23, 'john']

In [45]:
print(my_list[1:5:2])

['abcd', 2.23]

In [46]:
print(my_list[-1])

john

In [48]:
print(my_list[-1:-3:-1])

['john', 2.23]

In [49]:
myStart=2
print(my_list[myStart])

786

In [50]:
len(my_list)

5

In [1]:
areas=["hallway",11.25,"kitchen",18.0,"living room",20.0,"bedroom",10.75,"bathroom",9.50]

In [52]:
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [54]:
downstairs=areas[0:6]
print(downstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]

In [3]:
upstairs=areas[-1:-6:-2]
print(upstairs)

[9.5, 10.75, 20.0]

In [60]:
x=['a','b','c','d']
x[1]='r'
x[2:]=['s','t']
print(x)

['a', 'r', 's', 't']

In [61]:
y=x+['e','f']
print(y)

['a', 'r', 's', 't', 'e', 'f']

In [62]:
x=x+['e','f']
print(x)

['a', 'r', 's', 't', 'e', 'f']

In [63]:
del(x[1])
print(x)

['a', 's', 't', 'e', 'f']