In [1]:
import pandas as pd
house=pd.read_csv('WestRoxbury.csv')
house.head()

,TOTAL VALUE,TAX,LOT SQFT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE
0,344.2,4330,9965,2436,1352,2.0,6,3,1,1,1,0
1,412.6,5190,6590,3108,1976,2.0,10,4,2,1,1,0
2,330.1,4152,7500,2294,1371,2.0,8,4,1,1,1,0
3,498.6,6272,13773,5032,2608,1.0,9,5,1,1,1,1
4,331.5,4170,5000,2370,1438,2.0,7,3,2,0,1,0

In [2]:
print(house.columns.values)

['TOTAL VALUE' 'TAX' 'LOT SQFT' 'GROSS AREA' 'LIVING AREA' 'FLOORS'
 'ROOMS' 'BEDROOMS' 'FULL BATH' 'HALF BATH' 'KITCHEN' 'FIREPLACE']

In [4]:
select_index=['GROSS AREA','FLOORS','ROOMS']
house_X=house.loc[:,select_index]
print(house_X.shape)

(5802, 3)

In [5]:
house_y=house.iloc[:,0]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid=\
train_test_split(house_X,house_y,test_size=.3,random_state=42)

In [7]:
print(y_valid.shape)

(1741,)

In [8]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [9]:
# train the model using training data
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
#Print out the fitted coefficients is coeff of each of the attribute ie beta1,beta2,beta3
print(model.coef_)

[ 0.07365711 52.30357956  6.42323096]

In [11]:
# this is the beta0
print(model.intercept_)

43.632518929296225

In [13]:
# make predictions for validation set
y_pred=model.predict(X_valid)

In [14]:
print(y_pred)

[324.36351226 348.96498679 301.31235296 ... 347.42521939 536.53314407
 359.09316756]

In [15]:
# make prediction for new house 
#gross area=2655,floors=1.5,rooms=6
# two square brackets because we need to pretedn its 2d array since we can make predictions for two rows as well
y_new_pred=model.predict([[2655,1.5,6]])
print(y_new_pred)

[356.18689946]

In [17]:
# performance evaluation# calculating mean absolute error value
import numpy as np
e=y_valid-y_pred
# compute rmse
mae=np.mean(np.abs(e))
print(mae)

40.611203796800346

In [18]:
# calculating training error

y_pred_train=model.predict(X_train)
e=y_train-y_pred_train
mae=np.mean(np.abs(e))
print(mae)

39.888448920005914

In [ ]:
# if there is a large diff between validation error and training error that means 
#it is overfitting the model which is not good